body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
}

.game-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-wrapper {
    position: relative;
}

canvas {
    border: 2px solid #333;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.score-container {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #4CAF50;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
}

.controls {
    margin-left: 20px; /* Jarak antara canvas dan tombol */
    display: flex;
    flex-direction: column;
}

button {
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}
